[submodule "examples/ScandyCoreCppExamples"]
	path = examples/ScandyCoreCppExamples
	url = http://github.com/scandy-co/ScandyCoreCppExamples
[submodule "examples/ScandyCoreQtExample"]
	path = examples/ScandyCoreQtExample
	url = http://github.com/scandy-co/ScandyCoreQtExample
[submodule "examples/ScandyCoreAndroidExample"]
	path = examples/ScandyCoreAndroidExample
	url = http://github.com/scandy-co/ScandyCoreAndroidExample
[submodule "examples/ScandyCoreReactNativeExample"]
	path = examples/ScandyCoreReactNativeExample
	url = https://github.com/Scandy-co/ScandyCoreReactNativeExample
[submodule "scandy-core-rn"]
	path = scandy-core-rn
	url = git@github.com:Scandy-co/scandy-core-rn
[submodule "examples/ScandyCoreIOSExample"]
	path = examples/ScandyCoreIOSExample
	url = git@github.com:Scandy-co/ScandyCoreIOSExample.git
[submodule "examples/ScandyCoreSceneKitExample"]
	path = examples/ScandyCoreSceneKitExample
	url = https://github.com/Scandy-co/ScandyCoreSceneKitExample
